<%- include('./template/header'); %>
<div class="<%=(isBrowser ? 'effects_enabled' : '')%>">
    <div class="intro">
        <div class="intro__overlay"></div>
        <div class="intro__text-block">
            <div class="intro__text-block-header effect_faded" data-effect-timeout="500">
                Спасем амбар XIX века
            </div>
            <div class="intro__message-secondary effect_faded" data-effect-timeout="800">
                В поселке Подлипово Калининградской области уничтожается красивейший немецкий амбар XIX века
            </div>
            <div class="rb-margin-t_x2 effect_faded hide" data-effect-timeout="1200">
                <button class="button show-more-information" data-show-intro="1">Чем я могу помочь?</button>
            </div>
        </div>
        <div class="intro__arrow effect_faded" data-effect-timeout="1200" id="action-arrow"></div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Амбар в поселке Подлипово Правдинского района Калининградской области радовал глаз туристов и водителей проезжающих авто с XIX века и до 2018 года.
        </div>
    </div>
    <div class="image-block effect_faded_scroll">
        <div class="image-block__inner">
            <div class="image-block__image-wrap">
                <img src="/public/img/before_left.jpg" />
            </div>
        </div>
        <div class="image-copyright">
            Источник фотографии - сайт <a href="https://mapio.net/pic/p-66134272/" rel="noopener noreferrer" target="_blank">mapio.net</a>
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Превосходно видимый с дороги, амбар являлся украшением поселка. К сожалению, как многие из жителей Калининградской области знают, архитектурное наследие региона в наши дни переживает очень непростые времена. И вот, непростые времена настали и у этого амбара.
        </div>
    </div>
    <div class="image-block effect_faded_scroll">
        <div class="image-block__inner">
            <div class="image-block__image-wrap">
                <img src="/public/img/now.jpg" />
            </div>
        </div>
        <div class="image-copyright">
            Автор фотографии - Mikołaj Troniewski
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Казалось бы, объект уже почти утрачен, ведь на кирпич пошли 95% площадей. Однако, мы - активисты из сообщества &laquo;Прусское Наследие&raquo; - решили посетить место действия и разведать ситуацию.
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            При ближайшем рассмотрении выяснилось, что амбар действительно хорош. Декоративная башенка на коньке крыши, внутренний фахверк и текстура кирпичной кладки делают его неповторимым. Масштаб повреждений ужасает, но самая ценная часть здания - его лицевой фасад, наиболее богатый декоративными элементами - может быть сохранен!
        </div>
    </div>
    <div class="gallery-block">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="200">
                <div class="gallery-block__image" style="background-image: url('/public/img/before_right.jpg')"></div>
                <div class="image-copyright">
                    Автор фотографии - Mikołaj Troniewski
                </div>
            </div>
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="400">
                <div class="gallery-block__image" style="background-image: url('/public/img/tower.jpg')"></div>
                <div class="image-copyright">
                    Автор фотографии - Mikołaj Troniewski
                </div>
            </div>
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="600">
                <div class="gallery-block__image" style="background-image: url('/public/img/now_back.jpg')"></div>
            </div>
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Несмотря на трагическое, казалось бы, положение, нам удалось выйти на переговоры с собственником амбара. Он готов уступить руины вместе с приблизительно двумя гектарами территории ориентировочно за 125 000 рублей. Кроме того, еще столько же мы собираем на проведение противоаварийных работ.
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <p>
                    Мы решили, что пора действовать, и мы призываем всех, кто неравнодушен к истории и архитектуре, помочь нам.
                </p>

                <p>
                Каждый день мы с вами тратим лишние 10, 50, 200 рублей на какие-нибудь мелочи, например, на чашку кофе, которая обходится нам в 100 рублей.
                </p>
                <p>
                Однако, что будет, если мы хоть на некоторое время откажем себе в мелочах, о которых завтра даже не вспомним? На сэкономленные таким способом деньги мы можем сделать одно доброе дело: с миру по нитке и монументальное сооружение будет спасено!
                </p>
                <p>
                    Это не потребует от нас ощутимых затрат, мы с вами можем делать добро, мы можем позволить себе созидание вместо безучастного наблюдения со стороны.</p>
                Вы можете помочь спасти здание, которое послужит потом поколениям!
            </div>
        </div>
    </div>
    <div class="text-block text-block_important effect_faded_scroll">
        <div class="text-block__inner">
            <div class="rb-margin-b_x2">
                На данный момент у нас собрано около 40% средств, однако этого недостаточно. Мы будем очень рады вашим пожертвованиям.
            </div>
            <div class="rb-margin-b_x2">
                Вашу помощь просим направлять на карту <nobr>Сбербанка 4817 7601 1184 0942</nobr> <nobr>(привязана к номеру +7 905 247 67 31)</nobr><br /> Владелец - Ли Олег Игоревич.
                <br />Обязательно укажите назначение платежа:<br /><nobr>&laquo;На сохранение</nobr> <nobr>культурного наследия&raquo;</nobr>!
            </div>
            <div>
                <button class="button show-more-information">Подробнее</button>
            </div>
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Ниже мы бы хотели ответить на некоторые из вопросов, которые могут у вас возникнуть.
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Есть ли сейчас смысл спасать объект, ведь он в таком ужасном состоянии?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Да, конечно! Фасад стоит, столько его ни ломали - он не сдаётся. Главный фасад, и сохранная арка бокового - ценнейшие части объекта. Они требуют ремонта - но какого? В общемировой, а теперь и в российской практике есть примеры того, как руинированное старое достраивалось новым с полнейшим уважением. Это и музей королевы Софии в Мадриде, это и ратуша в Утрехте, это и Флигель-руина музея архитектуры в Москве, и церковь св.Колумбы в Кёльне. Список можно продолжить, и мы надеемся продолжить его этим амбаром!
            </div>
        </div>
    </div>

    <div class="gallery-block">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="200">
                <div class="gallery-block__image" style="background-image: url('/public/img/ruin1.jpg')"></div>
                <div class="image-copyright">
                    Источник фотографии - сайт <a href="https://www.decoist.com/white-house-grishipol-farm-coll/ruins-of-scottish-home-visited-by-boswell-and-johnston-turned-into-a-contemporary-residence/" target="_blank" rel="noopener noreferrer">www.decoist.com</a>
                </div>
            </div>
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="400">
                <div class="gallery-block__image" style="background-image: url('/public/img/ruin2.jpg')"></div>
                <div class="image-copyright">
                    Источник фотографии - сайт <a href="http://www.messynessychic.com/2012/07/30/the-abandoned-ruins-given-new-life/" target="_blank" rel="noopener noreferrer">www.messynessychic.com</a>
                </div>
            </div>
            <div class="cell large-4 small-12 effect_faded_scroll" data-effect-timeout="600">
                <div class="gallery-block__image" style="background-image: url('/public/img/ruin3.jpg')"></div>
                <div class="image-copyright">
                    Источник фотографии - сайт <a href="https://tagarrodemiguelarquitectos.es/casa-sabugo/" target="_blank" rel="noopener noreferrer">tagarrodemiguelarquitectos.es</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> На что пойдут собранные средства?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Средства пойдут на выкуп амбара и двух гектаров земли под ним у собственника, а также на противоаварийные работы и первичную консервацию фасада для того, чтобы здание пережило сезон ветров. Нам придется потратиться также на оформление сделки, включая межевание земельного участка, подготовку документов и все сопутствующие расходы.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> На кого будет оформлена покупка? Каковы правовые аспекты сделки?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Новым номинальным собственником здания должен стать Олег Ли, участник Совета при Службе государственной охраны объектов культурного наследия, координатор группы &laquo;Прусское Наследие&raquo;. Фактически, объект будет открыт для посещения неограниченного круга лиц. Никаких заборов и пропускного режима. Все жертвователи смогут приехать, проверить и оценить нашу работу. Ваши пожертвования будут осуществляться <nobr>в порядке 582 статьи Гражданского Кодекса РФ</nobr>, что позволяет требовать возврата средств в случае их нецелевого использования - которого, конечно, мы не допустим и сами.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Сколько есть времени для сбора средств?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Сделка должна быть заключена не позднее середины сентября 2018 года. Если этого не произойдет, снос амбара будет продолжен и мы потеряем объект навсегда.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Если вы не успеете собрать все средства, что будет с деньгами тех, кто уже вложился?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Средства могут быть возвращены по желанию жертвователей в любой момент до заключения сделки или в случае, если по тем или иным причинам не удастся в срок выйти на сделку.<br />
                В случае срыва сделки по приобретению амбара жертвователи могут благородно оставить нам возможность распоряжаться собранными средствами. Мы намерены использовать пожертвования на другие задачи, связанные с сохранением культурного наследия Калининградской области. Необращение с требованием вернуть собранные средства будут нами расценено как согласие на их дальнейшее использование.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> В чем интерес сообщества &laquo;Прусское Наследие&raquo;? Почему вы этим занимаетесь? Кто вы такие?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Мы - волонтерское сообщество любителей своего края и его истории. Мы не тратим средств на себя. Все, что нас интересует - чтобы история и связанная с ней архитектура сохранялись, область процветала, а не лежала в руинах и не превращалась в горящую по весне степь. Сохранение и восстановление исторических памятников в глубинке региона способно привлечь туристов и дать средства заработка для местных жителей, что также является одной из наших долгосрочных целей.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Хорошо, допустим объект удастся выкупить. Что дальше?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> После проведения первичных противоаварийных работ архитекторами &laquo;Прусского Наследия&raquo; будет разработан проект реставрации объекта и его приспособления к современному использованию. За счет собственных средств участников группы и новых пожертвований будет начата работа по восстановлению объекта. В случае, если перспектива финансирования проекта окажется неподъемной для нас - мы привлечем внешние инвестиции в рамках частичной или полной перепродажи объекта.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Что если новый собственник захочет снести здание?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> В случае принятия решения о продаже амбара мы обеспечим его выявление и постановку на учет в качестве объекта культурного наследия. Такое обременение лишит нового владельца права на нанесение ущерба памятнику.
            </div>
        </div>
    </div>
    <div class="text-block text-block__faq effect_faded_scroll">
        <div class="text-block__inner">
            <div>
                <b>Вопрос:</b> Что вы сделаете с деньгами после перепродажи?
            </div>
            <div class="rb-margin-t_x">
                <b>Ответ:</b> Мы не уверены, что это будет именно продажа, поскольку рассматриваем разные сценарии развития. В случае, если объект будет продан, вырученные средства будут направлены на дальнейшую деятельность по сохранению архитектурного наследия - как всем нам известно, к прискорбию, этот амбар - не единственное историческое здание под угрозой.
            </div>
        </div>
    </div>
    <div class="text-block effect_faded_scroll">
        <div class="text-block__inner">
            Если у вас остались вопросы, вы можете связаться с нами в <a href="https://vk.com/preussischer_kulturbesitz" rel="noreferrer noopener">нашей группе ВКонтакте</a> или позвонив Олегу Ли по телефону <a href="tel:+79062138469">+79062138469</a>
        </div>
    </div>
    <div class="text-block text-block_important effect_faded_scroll">
        <div class="text-block__inner">
            <div class="rb-margin-b_x2">
                Пожалуйста, уделите внимание сохранению ценнейшего архитектурного наследия! От наших усилий зависит то, какой мы передадим страну нашим детям. Наш долг - оставить им достойное наследство и надежды на будущее!
            </div>
            <div class="rb-margin-b_x2">
                <button class="button show-more-information">Как сделать пожертвование</button>
            </div>
            <div>
                Спасибо за Вашу поддержку!
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            &copy; 2018 г. &laquo;Прусское Наследие&raquo;
        </div>
        <div>
            Наш веб-сайт не использует cookies ;)
        </div>
    </div>
</div>
<div class="hide">
    <div class="as-intro" id="more-information-short">
        <h4 class="intro-block">
            На данный момент у нас собрано около 40% средств для выкупа руин амбара у собственника, но мы нуждаемся в вашей помощи
        </h4>
        <div class="rb-margin-t_x">
            Вы можете сделать пожертвование, отправив любую сумму на карту Сбербанка <b>4817 7601 1184 0942</b> (привязана к номеру <b>+7 905 247 67 31</b>)
            Владелец - Ли Олег Игоревич, участник Совета при Службе государственной охраны объектов культурного наследия, координатор группы &laquo;Прусское Наследие&raquo;<br />
            Обязательно укажите назначение платежа:<br />
            <b><nobr>«На сохранение культурного наследия»</nobr></b>!
        </div>
        <div class="rb-margin-t_x">
            Мы действуем на основании 582 статьи Гражданского Кодекса РФ, что позволяет требовать от жертвователя возврата средств в случае их нецелевого использования.
        </div>
        <div class="rb-margin-t_x">
            Мы очень нуждаемся в ваших пожертвованиях!
        </div>
        <div class="rb-margin-t_x intro-block">
            О том, что представляет из себя объект, а также о том, каков наш план, вы можете <a href="javascript:void(0);" id="continue-reading">прочитать на нашем сайте</a> :)
        </div>
    </div>
</div>

<script>
    $.env = {
        isBrowser: <%= isBrowser%>,
    };
</script>

<%- include('./template/footer'); %>
